body {
  margin-top: 40px;
  padding-top: 40px;
}

h1 {
  margin-bottom: 5px;
}

footer {
  color: #666;
  text-align: center;
}

.edit-text {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.sidebar > .header {
  color: gray;
}

.container>.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid>.sidebar{float:right;width:220px;}
.container-fluid>.content{float:left;margin-left:0px;margin-right:20px;width:620px;}

.CodeMirror {
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 10px;
}

.span0_5 {
  width: 10px;
}

.current {
  background-color: #FEE9CC;
}