body {
  margin-top: 40px;
}

h1 {
  margin-bottom: 5px;
}

h1 a:hover {
  color: #333;
}
h1 a:visited {
  color: #333;
}
h1 a:active {
  color: #333;
}
header img {
  margin-top: 4px;
}

.logo img {
  width: 90%;
}

p.lead {
  color: #666;
  margin-bottom: 30px;
}

footer {
  color: #666;
  text-align: center;
}

.edit-text {
  width: 600px;
  height: 300px;
  margin-bottom: 20px;
}

.sidebar > .header {
  color: gray;
}

.span0_5 {
  width: 10px;
}
