.container
  .well
    .row
      .span14
        %ul
          - @snippets.each do |snippet|
            %li.files
              %a{:href => url_for(:codes, :edit, :id => snippet.sha1_hash)}
                = snippet.file_name.blank? ? "(no name)" : snippet.file_name
              .updated_at= "(#{snippet.updated_at.strftime('%Y-%m-%d')})"
              - unless snippet.summary.blank?
                .summary
                  - snippet.summary.rstrip.split(/\r?\n/).each do |line|
                    = line
                    %br
        %a{:href => url_for(:codes, :edit), :class => 'btn primary'} Add Snippet
