.row.well
  %ul
    - @dirs.each do |dir|
      %li
        %a{:href => url_for(:codes, :edit, :id => dir)}= dir
  - form_tag url_for(:codes, :create_repository), :method => 'post' do
    = submit_tag 'add file', :class => 'btn primary'
