.container
  .well
    .row
      .span14
        %ul
          - @snippets.each do |snippet|
            %li
              %a{:href => url_for(:codes, :edit, :id => snippet.sha1_hash)}= snippet.file_name
        - form_tag url_for(:codes, :create_snippet), :method => 'post' do
          = text_field_tag 'snippet_name'
          = submit_tag 'add file', :class => 'btn primary'
