.container
  .well
    %h3 Recent Snippets
    .row
      .span15{:style => 'text-align: right'}
        %a{:href => url_for(:codes, :edit), :class => 'btn primary'} Add Snippet
    .row
      .span15
        %ul
          - @snippets.each do |snippet|
            %li.files
              %span.name= link_to snippet.file_name.blank? ? "(no name)" : snippet.file_name,
              url_for(:codes, :edit, :id => snippet.sha1_hash)
              %span.sperator -
              %span.updated_at= snippet.updated_at.strftime('%Y-%m-%d %H:%M:%S')
              - unless snippet.summary.blank?
                .summary
                  %textarea.code{:name => 'code'}~ snippet.summary

:javascript
  var textAreas = document.getElementsByClassName("code");
  for (var i = 0, l = textAreas.length; i < l; i++) {
    CodeMirror.fromTextArea(textAreas[i], {readOnly : true, lineNumbers : true});
  }

