.container
  .well
    .row
      .span14
        %ul
          - @snippets.each do |snippet|
            %li
              = link_to snippet.file_name, url_for(:codes, :edit, :id => snippet.id)
              - unless @search_result[snippet.id].nil?
                .summary
                  %textarea.code{:name => 'code'}~ @search_result[snippet.id].sort[0..2].map {|k,v| v.chomp}.join("\n")

:javascript
  var textAreas = document.getElementsByClassName("code");
  for (var i = 0, l = textAreas.length; i < l; i++) {
    CodeMirror.fromTextArea(textAreas[i], {readOnly : true, lineNumbers : false});
  }

