= stylesheet_link_tag 'bootstrap.min', 'codemirror', 'diff', 'application'
= javascript_include_tag 'codemirror', 'diff'

.container
  .container-fluid
    .sidebar.well

    .content.well
      %h4
        Revision
        = @diff.to[0..9] + ':' + @diff.from[0..9]
      %textarea#code{:name => 'code'}= @diff.patch
      .row
        .span15
          %a{:href => url_for(:codes, :edit, :id => @id)} Back to file

:javascript
  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {'readOnly' : true});
